#textBox{
	height: 65vh;
	border: 1px solid #ccc;
	color: #555;
	border-right: 0px;
}
#messages{
	height: 87%;
	overflow-y: scroll;
}
#users{
	height: 65vh;
	background-color: #679436;
	color: #EBF2FA;
	border: 1px solid #ccc;
	border-left: 0px;
}
#new-message{
	width: 90%;
}